*.class
.gitignore.bak

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#font
*.woff

#MyEclipse
.metadata/
.myeclipse/
WebRoot/WEB-INF/classes/
workspace/vote/WebRoot/WEB-INF/classes/hibernate.cfg.xml
workspace/vote/WebRoot/WEB-INF/classes/


#test
test.*
_test.*

#doc
old_20160901/
CC301SDK6.9/
deploy/apache-tomcat*
deploy/espeak*
deploy/jdk-7*
deploy/JTTSE*
deploy/mysql
